.example-spacer {
  flex: 1 1 auto;
}

.toolbar{
  position: fixed;
  top: 0;
  z-index: 99;
}

.logo{
  max-width: 70px;
  max-height: 100px;
  display: block;
  width: auto;
  height: auto;
}
.logo:hover{
  cursor: pointer;
}
