<div class="form-container">
</div>
<h1 mat-dialog-title>{{data?.name}}</h1>
<div mat-dialog-content>
  <div>
    <img class="image" mat-card-image [src]="data?.iconUrl">
  </div>
  <div>
    <span>Description: {{data?.description}}</span>
  </div>

  <div>
    <span>Price: {{data?.price | currency: 'BGN'}}</span>
  </div>
  <div>
    <span>Full Description: {{data?.longDescription}}</span>
  </div>

  <div *ngIf="data?.requirements">
    <span>Requirements: {{data?.requirements}}</span>
  </div>

  <div *ngIf="data?.size">
    <span>SIZE: {{data?.size}}</span>
  </div>

  <div *ngIf="data?.color">
    <span>Color: {{data?.color}}</span>
  </div>

  <div *ngIf="data?.battery">
    <span>Battery: {{data?.battery}}</span>
  </div>

  <div *ngIf="data?.processor">
    <span>Processor: {{data?.processor}}</span>
  </div>

  <div *ngIf="data?.version">
    <span>Version: {{data?.version}}</span>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button color="primary" matDialogClose>Ok</button>
</div>
