.content {
  padding: 1% 10%;
}

.span-xs-sm {
  font-size: .25em;
}

nav {
  font-family: Roboto;
}

.card {
  background-color: whitesmoke;
}

.card-content {
  height: calc(100% - 42px);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
}
