<div class="content" >
  <mat-card class="card">
    <mat-card-content class="card-content">
        <div *ngFor="let product of (productObs | async)" class="card-row">
          <app-card-product [product]="product" (emitProduct)="viewProduct($event)"></app-card-product>
        </div>
      <br>
      <mat-paginator  [pageIndex]="pageIndex"
                      [length]="length"
                      [pageSize]="pageSize"
                      (page)="pageEvent = getServerData($event)"></mat-paginator>
    </mat-card-content>
  </mat-card>
</div>





