.image{
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}
.example-card {
  max-width: 500px;

}

.form-field {
  width: 100%;
}
.form-container {
  width: 300px;
}
