<mat-card  class="example-card" >

  <mat-card-header>

    <mat-card-title>{{product.name }}</mat-card-title>
    <mat-card-subtitle>{{product.description}}</mat-card-subtitle>

  </mat-card-header>

  <img class="image" mat-card-image [src]="product.iconUrl">

  <mat-card-content>
    <p>Price: {{product.price | currency: 'BGN'}}</p>
  </mat-card-content>

  <mat-card-actions >

    <button mat-raised-button color="primary" (click)="viewDetails()">
      VIEW
    </button>



  </mat-card-actions>

</mat-card>
